.set-size { 
}

input, select {
	outline: 0;
}

#blog_related_post h3 { 
	font-family:Open Sans;
	font-size:25px;
	line-height:25px;
	color:#4c4c4c;
	font-weight:normal;
	padding-left:5px; 
	padding-top: 10px;
	padding-bottom: 10px;
}

#blog_related_post h4 { 
	font-size:20px;
	color:#298ee3;
	font-family:Open Sans;
	line-height:20px;
	font-weight:normal;
	border-bottom:1px solid #e9e9e9;
	padding:14px 0px 8px 0px;
	margin:0px; 
}

#blog_related_post h5 { 
	font-size:16px;
	color:#808080;
	font-family:Open Sans;
	line-height:16px;
	font-weight:normal;
	border-bottom:1px solid #e9e9e9;
	padding:14px 0px 8px 0px;
	margin:0px; 
}

/* Content */

#content {
	background: #fff url(../image/module_template/bg-content.png);
	min-height: 700px;
}

#blog_related_post .content { 
	background:#fff;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-box-shadow: 0px 0px 6px 2px #e9e9e9;
	box-shadow: 0px 0px 6px 2px #e9e9e9;
	-moz-box-shadow: 0px 0px 6px 2px #e9e9e9;
	padding:5px;
	margin-bottom:50px; 
}

	#blog_related_post .content > div {
		border: 1px solid #c8c8c8;
		border-radius: 2px;
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
		background:url(../image/module_template/bg-tabs.png) top left repeat-y;
	}
	
		#blog_related_post .content > div .tabs {
			min-height: 400px;
		}
		
			#blog_related_post .content > div .tabs .main-tabs {
				width: 190px;
				padding: 0px;
				border: none;
				margin: 0px;
				position: absolute;
			}
			
				#blog_related_post .content > div .tabs .main-tabs a {
					display:block;
					float:none;
					clear:both;
					border:none;
					background:none;
					margin:0px;
					padding:0px;
					border-bottom:1px solid #e0e0e0;
					text-align:left;
					padding:15px 20px 0px 20px;
					font-family:Open Sans;
					color:#4c4c4c;
					font-size:14px;
					height:50px;
					font-weight: 400;
					text-align: right;
					text-decoration: none;
				}
				
					#blog_related_post .content > div .tabs .main-tabs a.selected {
						background:#fff;
						padding:15px 20px 0px 20px;
						height:50px;
					}
					
						#blog_related_post .content > div .tabs .main-tabs img {
							vertical-align: top;
						}
						
						#blog_related_post .content > div .tabs .main-tabs span {
							display:block;
							float:none;
							clear:both;
							border:none;
							background:none;
							margin:0px;
							padding:0px;
							border-bottom:1px solid #e0e0e0;
							text-align:left;
							padding:15px 20px 0px 20px;
							font-family:Open Sans;
							color:#4c4c4c;
							font-size:14px;
							height:50px;
							font-weight: 400;
							text-align: right;
						}
						
							#blog_related_post .content > div .tabs .main-tabs span img {
								cursor: pointer;
							}
			
			#blog_related_post .content > div .tabs .tab-content {
				padding: 20px 30px 30px 220px;
			}
			
				#blog_related_post .content > div .tabs .tab-content table.form {
					margin: 0px;
				}
					
					#blog_related_post .content > div .tabs .tab-content table.form > tbody > tr > td {
						padding: 20px 0px;
						font-family: Open Sans;
						color: #4c4c4c;
						font-size: 14px;
						margin: 0px;
						line-height: 14px;
						border-bottom: 1px solid #e0e0e0;
					}
					
						#blog_related_post .content > div .tabs .tab-content table.form > tbody > tr > td select, 
						#blog_related_post .content > div .tabs .tab-content table.form > tbody > tr > td input[type="text"],
						#blog_related_post .html { 
							display:block;
							margin:0px;
							border:1px solid #cccccc;
							-webkit-border-radius: 4px;
							border-radius: 4px;
							-moz-border-radius: 4px;
							color:#4c4c4c;
							background:#fff url(../image/module_template/bg-input.png) top left repeat-x;
							padding:6px 8px;
							margin-right:20px; 
							font-size: 12px;
							height: 32px;
							box-shadow:         none;
							-moz-box-shadow:    none;
							-webkit-box-shadow: none;
							border-radius:         2px;
							-moz-border-radius:    2px;
							-webkit-border-radius: 2px;
							-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
							-moz-transition:    border linear 0.2s, box-shadow linear 0.2s;
							-o-transition:      border linear 0.2s, box-shadow linear 0.2s;
							transition:         border linear 0.2s, box-shadow linear 0.2s;
						}
						
						     #blog_related_post .html {
						          width: 100%;
						          max-width: 100%;
						          height: 300px;
						          margin: 0px !important;
						          outline: none;
						     }
						
							#blog_related_post .content > div .tabs .tab-content table.form > tbody > tr > td input:focus,
							#blog_related_post .html:focus {
								  border-color: rgba(82, 168, 236, 0.8);
								  outline: 0;
								  outline: thin dotted \9;
								  /* IE6-9 */
								
								  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
								     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
								          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
							}
						
		
	#blog_related_post .content > div .buttons {
		background:#e6e6e6;
		border-top:1px solid #c8c8c8;
		text-align:right;
		height:78px;
		padding:0px 18px;
	}
		
		#blog_related_post .content > div .buttons .button-save {
			display:block;
			border: none;
			cursor: pointer;
			float:right;
			text-indent:100000px;
			overflow:hidden;
			width:115px;
			height:41px;
			cursor:pointer;
			background:url(../image/module_template/button-save.png) top left no-repeat;
			margin-top:19px;
			margin-left: 20px;
		}
			
/* Clearfix */

.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}

.clearfix:after {
  clear: both;
}


/* Table Form */

table.form {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 20px;
}

table.form > tbody > tr > td:first-child {
	width: 200px;
}

table.form > tbody > tr > td {
	padding: 10px;
	color: #000000;
	border-bottom: 1px dotted #CCCCCC;
}

/* Htabs */

.htabs {
	padding: 0px 0px 0px 10px;
	height: 30px;
	line-height: 16px;
	border-bottom: 1px solid #DDDDDD;
	margin-bottom: 15px;
}

.htabs a {
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
	background: #FFFFFF url('../image/module_template/tab.png') repeat-x;
	padding: 7px 15px 6px 15px;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	color: #000000;
	margin-right: 2px;
	display: none;
}

.htabs a.selected {
	padding-bottom: 7px;
	background: #FFFFFF;
}

 
    
/* @group Module Layout */

.module-layouts {
     float: left;
     width: 500px;
     height: 200px;
     border: 1px solid #cccccc;
     overflow-y: scroll;
}

     .module-layout-title {
          background: #f2f2f2;
          border-bottom: 1px solid #cccccc;
          padding: 15px 20px 15px 20px;
          font-family: Open Sans;
          color: #4c4c4c;
          font-size: 14px;
     }

     .module-layout {
          border-bottom: 1px dotted #cccccc;
          padding: 15px 20px;
     }
     
          .module-layout:hover {
          	background: #FFFFCB;
          }
          
          .module-layout input {
          	margin-top: 5px;
          	float: left;
          	margin-right: 20px;
          }
          
          .module-layout p {
          	padding-top: 5px;
          }

/* @end */