.set-size { 
}

input, select {
	outline: 0;
}

#carousel_item h3 { 
	font-family:Open Sans;
	font-size:25px;
	line-height:25px;
	color:#4c4c4c;
	font-weight:normal;
	padding-left:5px; 
	padding-bottom: 10px;
	padding-top: 10px;
}

#carousel_item h4 { 
	font-size:20px;
	color:#298ee3;
	font-family:Open Sans;
	line-height:20px;
	font-weight:normal;
	border-bottom:1px solid #e9e9e9;
	padding:20px 0px 8px 0px;
	margin:0px; 
}

#carousel_item h5 { 
	font-size:16px;
	color:#808080;
	font-family:Open Sans;
	line-height:16px;
	font-weight:normal;
	border-bottom:1px solid #e9e9e9;
	padding:14px 0px 8px 0px;
	margin:0px; 
}

/* Content */

#content {
	background: #fff url(../image/module_template/bg-content.png);
	min-height: 500px;
}

#carousel_item .content { 
	background:#fff;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-box-shadow: 0px 0px 6px 2px #e9e9e9;
	box-shadow: 0px 0px 6px 2px #e9e9e9;
	-moz-box-shadow: 0px 0px 6px 2px #e9e9e9;
	padding:5px;
	margin-bottom:50px; 
}

	#carousel_item .content > div {
		border: 1px solid #c8c8c8;
		border-radius: 2px;
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
		background:url(../image/module_template/bg-tabs.png) top left repeat-y;
	}
	
		#carousel_item .content > div .tabs {
			min-height: 400px;
		}
		
			#carousel_item .content > div .tabs .main-tabs {
				position: absolute;
				width: 190px;
				padding: 0px;
				border: none;
				margin: 0px;
			}
			
				#carousel_item .content > div .tabs .main-tabs a {
					display:block;
					float:none;
					clear:both;
					border:none;
					background:none;
					margin:0px;
					padding:0px;
					border-bottom:1px solid #e0e0e0;
					text-align:left;
					padding:15px 20px 0px 20px;
					font-family:Open Sans;
					color:#4c4c4c;
					font-size:14px;
					height:50px;
					font-weight: 400;
					text-align: right;
					text-decoration: none;
				}
				
					#carousel_item .content > div .tabs .main-tabs a.selected {
						background:#fff;
						padding:15px 20px 0px 20px;
						height:50px;
					}
					
						#carousel_item .content > div .tabs .main-tabs img {
							vertical-align: top;
						}
						
						#carousel_item .content > div .tabs .main-tabs span {
							display:block;
							float:none;
							clear:both;
							border:none;
							background:none;
							margin:0px;
							padding:0px;
							border-bottom:1px solid #e0e0e0;
							text-align:left;
							padding:15px 20px 0px 20px;
							font-family:Open Sans;
							color:#4c4c4c;
							font-size:14px;
							height:50px;
							font-weight: 400;
							text-align: right;
						}
						
							#carousel_item .content > div .tabs .main-tabs span img {
								cursor: pointer;
							}
			
			#carousel_item .content > div .tabs .tab-content {
				padding: 20px 30px 30px 30px;
				margin-left: 190px;
			}

				#carousel_item .content > div .tabs .tab-content table.form {
					margin: 0px;
				}
					
					#carousel_item .content > div .tabs .tab-content table.form > tbody > tr > td {
						padding: 20px 0px;
						font-family: Open Sans;
						color: #4c4c4c;
						font-size: 14px;
						margin: 0px;
						line-height: 14px;
						border-bottom: 1px solid #e0e0e0;
					}
					
						#carousel_item .content > div .tabs .tab-content table.form > tbody > tr > td select, 
						#carousel_item .content > div .tabs .tab-content table.form > tbody > tr > td input { 
							display:block;
							margin:0px;
							border:1px solid #cccccc;
							-webkit-border-radius: 4px;
							border-radius: 4px;
							-moz-border-radius: 4px;
							color:#4c4c4c;
							background:#fff url(../image/module_template/bg-input.png) top left repeat-x;
							padding:6px 8px;
							font-size: 12px;
							margin-right:20px; 
							height: 32px;
							box-shadow:         none;
							-moz-box-shadow:    none;
							-webkit-box-shadow: none;
							border-radius:         2px;
							-moz-border-radius:    2px;
							-webkit-border-radius: 2px;
							-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
							-moz-transition:    border linear 0.2s, box-shadow linear 0.2s;
							-o-transition:      border linear 0.2s, box-shadow linear 0.2s;
							transition:         border linear 0.2s, box-shadow linear 0.2s;
						}
						
							#carousel_item .content > div .tabs .tab-content table.form > tbody > tr > td input:focus {
								  border-color: rgba(82, 168, 236, 0.8);
								  outline: 0;
								  outline: thin dotted \9;
								  /* IE6-9 */
								
								  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
								     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
								          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
							}
						
		
	#carousel_item .content > div .buttons {
		background:#e6e6e6;
		border-top:1px solid #c8c8c8;
		text-align:right;
		height:78px;
		padding:0px 18px;
	}
		
		#carousel_item .content > div .buttons .button-save {
			display:block;
			border: none;
			cursor: pointer;
			float:right;
			text-indent:100000px;
			overflow:hidden;
			width:115px;
			height:41px;
			cursor:pointer;
			background:url(../image/module_template/button-save.png) top left no-repeat;
			margin-top:19px;
			margin-left: 20px;
		}
		
/* Add elements */

.tabs_add_element { 
	border-bottom:1px solid #e9e9e9;
	background:#f2f2f2;
	padding-left:20px; 
}

.tabs_add_element a, .tabs_add_element > img { 
	padding:15px 23px 0px 23px;
	font-family:Open Sans;
	float:left;
	font-size:12px;
	color:#4c4c4c;
	font-weight:600;
	text-decoration:none;
	display:block;
	height:46px;
	border-left:1px solid #cccccc; 
}
	
	.tabs_add_element a.selected { 
		background:#fff; 
		position: relative;
		height: 47px;
		margin-bottom: -1px;
	}
	
	.tabs_add_element > img {
		height: 46px;
		padding-bottom: 15px;
		cursor: pointer;
	}
	
	.tabs_add_element img {
		vertical-align: top;
	}
	
/* Input */

.input { 
	padding:4px 0px 19px 0px;
	border-bottom:1px solid #e0e0e0; 
}

.input-with-editor {
	padding:4px 0px 0px 0px;
}

	.input p { 
		float:left;
		width:200px;
		font-family:Open Sans;
		color:#4c4c4c;
		font-size:14px;
		padding:6px 10px 0px 0px;
		margin:0px;
		line-height:14px; 
	}
	
	.input input[type=text] { 
		display:block;
		float:left;
		width:172px;
		margin:0px;
		padding:0px;
		border:1px solid #cccccc;
		-webkit-border-radius: 4px;
		border-radius: 4px;
		-moz-border-radius: 4px;
		color:#4c4c4c;
		background:#fff url(../image/module_template/bg-input.png) top left repeat-x;
		padding:6px 8px;
		margin-right:20px; 
		box-shadow:         none;
		-moz-box-shadow:    none;
		-webkit-box-shadow: none;
		border-radius:         2px;
		-moz-border-radius:    2px;
		-webkit-border-radius: 2px;
		-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
		-moz-transition:    border linear 0.2s, box-shadow linear 0.2s;
		-o-transition:      border linear 0.2s, box-shadow linear 0.2s;
		transition:         border linear 0.2s, box-shadow linear 0.2s;
	}
	
		.input input[type=text]:focus {
			  border-color: rgba(82, 168, 236, 0.8);
			  outline: 0;
			  outline: thin dotted \9;
			  /* IE6-9 */
			
			  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
			     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
			          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
		}

	.input .list-language {
		padding: 0px;
		width: 400px;
		position: relative;
		margin-bottom: -20px;
		float: left;
	}
		
		.input .language {
			padding: 0px;
			float: left;
			width: 200px;
			position: relative;
		}
		
			.input .language input {
				margin-bottom: 20px;
				padding-right: 38px;
				width: 183px;
			}
			
			.input .language img {
				position: absolute;
				left: 156px;
				top: 10px;
			}
			
/* Clearfix */

.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}

.clearfix:after {
  clear: both;
}

/* Table Form */

table.form {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 20px;
}

table.form > tbody > tr > td:first-child {
	width: 200px;
}

table.form > tbody > tr > td {
	padding: 10px;
	color: #000000;
	border-bottom: 1px dotted #CCCCCC;
}

/* Htabs */

.htabs {
	padding: 0px 0px 0px 10px;
	height: 30px;
	line-height: 16px;
	border-bottom: 1px solid #DDDDDD;
	margin-bottom: 15px;
}

.htabs a {
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
	background: #FFFFFF url('../image/module_template/tab.png') repeat-x;
	padding: 7px 15px 6px 15px;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	color: #000000;
	margin-right: 2px;
	display: none;
}

.htabs a.selected {
	padding-bottom: 7px;
	background: #FFFFFF;
}