.set-size { 
}

input[type=submit] {
	outline: 0;
}

#revolution-slider h3 { 
	font-family:Open Sans;
	font-size:25px;
	line-height:25px;
	color:#4c4c4c;
	font-weight:normal;
	padding: 10px 0px 10px 5px;
}

#revolution-slider h4 { 
	font-size:20px;
	color:#298ee3;
	font-family:Open Sans;
	line-height:20px;
	font-weight:normal;
	border-bottom:1px solid #e9e9e9;
	padding:14px 0px 8px 0px;
	margin:0px; 
}

#revolution-slider h5 { 
	font-size:16px;
	color:#808080;
	font-family:Open Sans;
	line-height:16px;
	font-weight:normal;
	border-bottom:1px solid #e9e9e9;
	padding:14px 0px 8px 0px;
	margin:0px; 
}

#revolution-slider a {
	cursor: pointer;
}

/* Content */

#content {
	background: #fff url(../image/module_template/bg-content.png);
}

#revolution-slider .content { 
	background:#fff;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-box-shadow: 0px 0px 6px 2px #e9e9e9;
	box-shadow: 0px 0px 6px 2px #e9e9e9;
	-moz-box-shadow: 0px 0px 6px 2px #e9e9e9;
	padding:5px;
	margin-bottom:50px; 
}

	#revolution-slider .content > div {
		border: 1px solid #c8c8c8;
		border-radius: 2px;
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
	}
	
	#revolution-slider .content > div .bg-tabs { 
		background:url(../image/module_template/bg-tabs.png) top left repeat-y;
		border-bottom: none;
		border-radius: 2px 2px 0px 0px;
		-webkit-border-radius: 2px 2px 0px 0px;
		-moz-border-radius: 2px 2px 0px 0px; 
		min-height: 350px;
	}
	
	/* Main Tabs */
	
	#tabs { 
		position: absolute;
		width:190px;
		border:none;
		margin:0px;
		padding:0px;
		height:auto; 
	}
	
		#tabs a { 
			display:block;
			float:none;
			clear:both;
			border:none;
			background:none;
			margin:0px;
			padding:0px;
			border-bottom:1px solid #e0e0e0;
			height:49px;
			text-decoration: none;
			text-align:left; 
		}
	
			#tabs a.active { 
				background:#fff;
				padding:0px;
				height:49px; 
			}
	
				#tabs a span { 
					display:block;
					padding:15px 20px 0px 20px;
					text-align: right;
					font-family:Open Sans;
					color:#4c4c4c;
					font-size:14px;
					height:34px;
					font-weight: 400; 
				}
				
	/* Tabs slider */
	
	#tabs_slider {
		position: absolute;
		width: 190px;
		padding: 0px;
		border: none;
		margin: 0px;
	}
	
		#tabs_slider a {
			display:block;
			float:none;
			clear:both;
			border:none;
			background:none;
			margin:0px;
			padding:0px;
			border-bottom:1px solid #e0e0e0;
			text-align:left;
			padding:15px 20px 0px 20px;
			font-family:Open Sans;
			color:#4c4c4c;
			font-size:14px;
			height:49px;
			font-weight: 400;
			text-align: right;
			border-right:1px solid #c8c8c8;
			text-decoration: none;
		}
		
			#tabs_slider a.selected {
				background:#fff;
				padding:15px 20px 0px 20px;
				height:49px;
			}
			
			#tabs_slider a:first-child.selected {
				background: #fff url(../image/module_template/tab-active.png) top right no-repeat;
				border-right: none;
			}
			
				#tabs_slider img {
					vertical-align: top;
					margin: 1px 0px 0px 0px;
				}
				
				#tabs_slider span {
					display:block;
					float:none;
					clear:both;
					border:none;
					background:none;
					margin:0px;
					padding:0px;
					border-bottom:1px solid #e0e0e0;
					text-align:left;
					padding:15px 20px 0px 20px;
					font-family:Open Sans;
					color:#4c4c4c;
					font-size:14px;
					height:49px;
					font-weight: 400;
					text-align: right;
				}
				
					#tabs_slider span img {
						cursor: pointer;
					}
	
	/* Tab slider language */
	
	.tab-slider-language {
		position: absolute;
		width: 190px;
		margin: 99px 0px 0px 0px;
		border-top: 1px solid #e0e0e0;
		padding-bottom: 60px;
	}
	
		.tab-slider-language a {
			display:block;
			float:none;
			clear:both;
			border:none;
			background:none;
			margin:0px;
			padding:0px;
			border-bottom:1px solid #e0e0e0;
			height:49px;
			text-align:left;
			text-decoration: none;
		}
		
			.tab-slider-language a.selected {
				background:#fff url(../image/module_template/tab-active.png) top right no-repeat;
				padding:0px;
				height:49px;
			}
			
			.tab-slider-language a span { 
				display:block;
				padding:15px 0px 0px 50px;
				font-family:Open Sans;
				color:#4c4c4c;
				font-size:14px;
				height:34px; 
			}
			
				.tab-slider-language a img { 
					position:absolute;
					margin:19px 0px 0px 16px;
				}
	
	.tab-content2 { 
		padding:20px 30px 30px 30px; 
		margin-left: 190px;
	}
	
	.tab-content3 { 
		padding:20px 30px 30px 30px; 
		margin-left: 190px;
	}
	
	.tab-content { 
		margin-left: 190px;
		padding:0px; 
		background:url(../image/module_template/bg-tabs.png) top left repeat-y;
	}
	
/* Input */

.input { 
	padding:21px 0px 19px 0px;
	border-bottom:1px solid #e0e0e0; 
}

.input p { 
	float:left;
	width:193px;
	font-family:Open Sans;
	color:#4c4c4c;
	font-size:14px;
	padding:6px 10px 0px 0px;
	margin:0px;
	line-height:14px; 
}

.input select, 
.input input, 
.input textarea { 
	display:block;
	float:left;
	width:172px;
	margin:0px;
	padding:0px;
	border:1px solid #cccccc;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	color:#4c4c4c;
	background:#fff url(../image/module_template/bg-input.png) top left repeat-x;
	padding:6px 8px;
	margin-right:20px; 
	height: 29px;
	box-shadow:         none;
	-moz-box-shadow:    none;
	-webkit-box-shadow: none;
	border-radius:         2px;
	-moz-border-radius:    2px;
	-webkit-border-radius: 2px;
	-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
	-moz-transition:    border linear 0.2s, box-shadow linear 0.2s;
	-o-transition:      border linear 0.2s, box-shadow linear 0.2s;
	transition:         border linear 0.2s, box-shadow linear 0.2s;
}

	.input input:focus {
		  border-color: rgba(82, 168, 236, 0.8);
		  outline: 0;
		  outline: thin dotted \9;
		  /* IE6-9 */
		
		  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
		     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
		          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
	}

.input textarea { 
	float:right;
	margin-right:0px;
	width:424px;
	height:200px;
	max-width:424px;
	position:relative;
	margin-left:-30px; 
}

.image { 
	float: left;
	width: 362px;
}

.image img { 
	max-width:100%;
}

/* Add elements */

.tabs_add_element { 
	border-bottom:1px solid #e9e9e9;
	background:#f2f2f2;
	padding-left:20px; 
}

.tabs_add_element a, .tabs_add_element > img { 
	padding:15px 23px 0px 23px;
	font-family:Open Sans;
	float:left;
	font-size:12px;
	color:#4c4c4c;
	font-weight:600;
	text-decoration:none;
	display:block;
	height:46px;
	border-left:1px solid #cccccc; 
}
	
	.tabs_add_element a.selected { 
		background:#fff; 
		position: relative;
		height: 47px;
		margin-bottom: -1px;
	}
	
	.tabs_add_element > img {
		height: 46px;
		padding-bottom: 15px;
		cursor: pointer;
	}
	
	.tabs_add_element img {
		vertical-align: top;
	}

/* Buttons */

#revolution-slider .buttons { 
	background:#e6e6e6;
	border-top:1px solid #c8c8c8;
	text-align:right;
	height:78px;
	padding:0px 18px; 
}

	#revolution-slider .buttons .button-save { 
		display:block;
		border: none;
		cursor: pointer;
		float:right;
		text-indent:100000px;
		overflow:hidden;
		width:115px;
		height:41px;
		cursor:pointer;
		background:url(../image/module_template/button-save.png) top left no-repeat;
		margin-top:19px; 
	}
	
	#revolution-slider .buttons .button-add-slider { 
		display:block;
		border: none;
		cursor: pointer;
		float:right;
		text-indent:100000px;
		overflow:hidden;
		width:204px;
		height:41px;
		cursor:pointer;
		background:url(../image/module_template/add-slider.png) top left no-repeat;
		margin-top:19px; 
	}

/* Status */

.status {
	width: 66px;
	height: 29px;
	background: url(../image/module_template/status.png) top right no-repeat;
	cursor: pointer;
	margin-top: 5px;
	-webkit-transition: background-position .15s ease-in;  
	-moz-transition: background-position .15s ease-in;  
	-o-transition: background-position .15s ease-in;  
	transition: background-position .15s ease-in;  
}

.status-on { 
	background-position: top left;
}

/* Module placement */

#module-placement {
	width: 100%;
	margin: 10px 0px 30px 0px;
	border-top: 1px solid #e9e9e9;
	padding: 0px;
	border-spacing: 0px;
}

	#module-placement thead tr td {
		background: #f2f2f2;
		border-bottom: 1px solid #e0e0e0;
		border-left: 1px solid #e0e0e0;
		padding: 16px 20px;
		font-weight: 600;
		color: #4C4C53;
		font-family: Open Sans;
	}
	
		#module-placement td.first {
			border-left: none;
		}
		
	#module-placement tbody tr td {
		border-bottom: 1px solid #e0e0e0;
		border-left: 1px solid #e0e0e0;
		padding: 16px 20px;
	}

		#module-placement tbody tr td input,
		#module-placement tbody tr td select {
			display:block;
			margin:0px;
			width: 87%;
			border:1px solid #cccccc;
			-webkit-border-radius: 4px;
			border-radius: 4px;
			-moz-border-radius: 4px;
			color:#4c4c4c;
			background:#fff url(../image/module_template/bg-input.png) top left repeat-x;
			padding:6px 8px;
			box-shadow:         none;
			-moz-box-shadow:    none;
			-webkit-box-shadow: none;
			border-radius:         2px;
			-moz-border-radius:    2px;
			-webkit-border-radius: 2px;
			-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
			-moz-transition:    border linear 0.2s, box-shadow linear 0.2s;
			-o-transition:      border linear 0.2s, box-shadow linear 0.2s;
			transition:         border linear 0.2s, box-shadow linear 0.2s;
		}
		
			#module-placement tbody tr td input:focus {
				  border-color: rgba(82, 168, 236, 0.8);
				  outline: 0;
				  outline: thin dotted \9;
				  /* IE6-9 */
				
				  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
				     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
				          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
			}
		
			#module-placement tbody tr td select {
				width: 120px;
			}
		
			#module-placement tbody tr td .sort {
				width: 45px;
			}
			
	.add-module {
		display: block;
		width: 70px;
		height: 29px;
		background: #fff url(../image/module_template/add-item.png) top left no-repeat;
		text-indent: -10000px;
		margin: 0px 0px 10px 0px;
	}

/* Clearfix */

.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}

.clearfix:after {
  clear: both;
}