{% if (languages|length > 1) %} 
<!-- Language -->
<form action="{{ action }}" method="post" enctype="multipart/form-data" id="language_form">
	<ul> 
		{% for language in languages %} 
		<li {% if (language['code'] == code) %}class="active"{% endif %}><a href="javascript:;" onclick="$('input[name=\'code\']').attr('value', '{{ language['code'] }}'); $('#language_form').submit();">{{ language['name'] }}</a></li>
		{% endfor %} 
	</ul>
	
	<input type="hidden" name="code" value="" />
	<input type="hidden" name="redirect" value="{{ redirect }}" />
</form>
{% endif %} 
