{% if (registry.has('theme_options') == constant('true')) %} 
  <div class="container-indent">
    <div class="container container-fluid-custom-mobile-padding">
      <div class="tt-block-title">
        <h1 class="tt-title">{{ block_heading }}</h1>
      </div>
      <div class="tt-carousel-products row arrow-location-tab arrow-location-tab01 tt-alignment-img tt-layout-product-item slick-animated-show-js" data-item="1">
        {% for item in carousel_item %} 
          <div class="col-6 col-md-4 col-lg-3">
            {{ item['content'] }} 
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endif %}