.datepicker thead th.dow,
.mfp-bottom-bar,
.tt-top-panel .tt-row,
header .tt-logo .tt-title,
header .tt-cart .tt-cart-layout .tt-cart-content .tt-cart-list .tt-item .tt-item-descriptions .tt-title,
header .tt-cart .tt-cart-layout .tt-cart-content .tt-cart-total-row .tt-cart-total-title,
header .tt-search .tt-dropdown-menu .tt-search-input,
header .tt-search .tt-dropdown-menu form .tt-search-input,
.tt-desctop-menu .tt-badge,
.tt-desctop-menu nav > ul > li.dropdown > a,
.tt-desctop-menu .tt-title-submenu,
.tt-promo-02 .tt-description .tt-title-small,
.tt-promo-02 .tt-description .tt-title-large,
.tt-promo-02 .tt-description .tt-title-xlarge,
.panel-menu #mm0.mmpanel a:not(.mm-close),
.panel-menu .mmpanel:not(#mm0) a:not(.mm-original-link),
.panel-menu .mmpanel .tt-badge,
.panel-menu .mm-original-link,
footer .tt-logo .tt-title,
.tt-listing-post .tt-post .tt-post-content .tt-tag,
.tt-post-single .tt-tag,
.tt-blog-thumb .tt-title-description .tt-tag,
.tt-blog-thumb .tt-title-description .tt-title,
.tt-aside-post .item .tt-tag,
.tt-aside-post .item .tt-title,
.tt-pagination ul li a,
.tt-layout-01-post .tt-post .tt-post-content .tt-tag,
.tt-blog-masonry .tt-filter-nav .button,
.tt-portfolio-masonry .tt-filter-nav .button,
.tt-portfolio-content figure figcaption .tt-title,
.tt-product-single-info .tt-price,
.tt-input-counter.style-01 input,
.tt-collapse-block .tt-item .tt-collapse-title,
.tt-review-block .tt-review-form .tt-message-info,
.tt-review-block .tt-review-form .tt-rating-indicator .tt-title,
.tt-product-single-info .tt-label [class^="tt-label"],
.tt-title-options,
.tt-modal-addtocart.desctope .tt-modal-messages,
.tt-modal-addtocart.desctope .tt-modal-product .tt-title,
.tt-modal-addtocart.desctope .tt-modal-product .tt-qty,
.tt-modal-addtocart.desctope .tt-product-total,
.tt-modal-addtocart.desctope .tt-cart-total .tt-total,
.tt-modal-addtocart.mobile .tt-modal-messages,
.tt-modal-newsletter .tt-modal-newsletter-promo .tt-title-small,
.tt-modal-newsletter .tt-modal-newsletter-promo .tt-title-large,
.tt-modal-newsletter .tt-modal-newsletter-promo p,
.tt-filters-options .tt-btn-toggle a,
.tt-btn-col-close a,
.tt-aside .tt-item .tt-content .tt-title,
.tt-product.tt-view .tt-description .tt-title,
.tt-product-design02.tt-view .tt-description .tt-title,
.tt-product.tt-view .tt-description .tt-btn-addtocart,
.tt-product-design02.tt-view .tt-description .tt-btn-addtocart,
.tt-product:not(.tt-view) .tt-description .tt-add-info,
.tt-product:not(.tt-view) .tt-description .tt-title,
.tt-product:not(.tt-view) .tt-description .tt-price,
.tt-product:not(.tt-view) .tt-description .tt-btn-addtocart,
.tt-product-design02:not(.tt-view) .tt-description .tt-title,
.tt-product-design02:not(.tt-view) .tt-btn-addtocart,
.tt-product:not(.tt-view) .tt-description .tt-title,
  .tt-product-design02:not(.tt-view) .tt-description .tt-title,
  .tt-product:not(.tt-view) .tt-description .tt-btn-addtocart,
  .tt-product-design02:not(.tt-view) .tt-description .tt-btn-addtocart,
  .tt-promo-box .tt-description .tt-title-small,
  .tt-promo-box .tt-description .tt-title-large,
  .tt-promo-fullwidth .tt-description .tt-title-small,
  .tt-promo-fullwidth .tt-description .tt-title-large,
  .tt-promo-fullwidth .tt-description p,
  .tt-promo-fullwidth-02 .tt-description .tt-title-large,
  .tt-collection-item .tt-description .tt-title,
  .tt-promo02 .tt-description .tt-title-small,
  .tt-promo02 .tt-description .tt-title-large,
  .tt-promo-fixed .tt-description .tt-title,
  .tt-shopcart-table .tt-title,
  .tt-shopcart-table01,
  .tt-shopcart-table-02 .tt-title,
  .tt-shopping-layout .tt-link-back,
  .tt-table-shop-01 thead th,
  .tt-table-shop-02 thead th,
  .tt-table-shop-02 tbody td:first-child,
  .tt-table-shop-03 strong,
  .tt-table-shop-03 thead tr th,
  .tt-shop-info .tt-item .tt-title,
  .tt-hotspot-content .tt-description .tt-title,
  .slider-revolution .tp-caption1-wd-1,
  .slider-revolution .tp-caption1-wd-2,
  .slider-revolution .tp-caption1-wd-3,
  .slider-revolution .tp-caption2-wd-1,
  .slider-revolution .tp-caption2-wd-2,
  .tt-slick-main-item .tt-description .tt-title-small,
  .tt-slick-main-item .tt-description .tt-title-large,
  #tt-boxedbutton .rtlbutton,
  #tt-boxedbutton .rtlbutton-color .box-description .box-title,
  .tt-wishlist-box .tt-wishlist-list .tt-item .tt-col-description .tt-description .tt-title,
  .tt-wishlist-box .tt-wishlist-list .tt-item .tt-col-description .tt-description .tt-price,
  .tt-wishlist-box .tt-wishlist-list .tt-item .tt-col-btn .tt-btn-addtocart,
  .tt-compare-table .tt-item .tt-image-box .tt-title,
  .tt-compare-table .tt-item .tt-image-box .tt-price,
  .tt-compare-table .tt-item .tt-btn-addtocart,
  body,
  .btn,
  .btn-link,
.btn-link:focus,
.btn-underline,
h1, h2, h3, h4, h5, h6,
.tt-blockquote .tt-title,
.tt-blockquote-02 .tt-title,
.tt-table-01 thead tr th,
.tt-table-02 tbody tr td:first-child,
.tt-block-title .tt-description,
.form-default .form-group label:not(.error),
.form-default .form-control,
.tt-slick-quantity,
.tt-gift-layout .tt-gift-box .tt-description .tt-sum,
.tt-back-to-top,
.tt-layout-vertical .tt-title,
.tt-tabs-default li > a,
.tt-content-info .tt-subscription .tt-text-large{
	font-family: 'Roboto', sans-serif;
}
@media (min-width: 1230px){
    .slider-revolution .tp-caption1-wd-3{
        line-height: 1.6 !important;
    }
}


h1, h2, h3, h4, h5, h6{
  font-family: 'Roboto Slab', sans-serif;
  font-weight: 400;
}

.tt-block-title .tt-title ,
.tt-block-title .tt-description{
    font-family: 'Roboto Slab', sans-serif;
}

.tt-product:not(.tt-view) .tt-description .tt-title,
.tt-product .tt-description .tt-add-info li a{
    font-weight: 400;
}

.slider-revolution [class^="btn"]{
    background: #ffffff !important;
    color: #191919 !important;
}
.slider-revolution [class^="btn"]:hover{
    background: #191919 !important;
    color: #ffffff !important;
}
.slider-revolution .tp-caption1-wd-1{
  font-weight: 300;
}
footer .tt-newsletter .form-control{
  font-family: 'Roboto', sans-serif;
}
.slider-revolution .tp-caption1-wd-1,
.slider-revolution .tp-caption1-wd-2,
.tt-promo-box.tt-one-child .tt-description .tt-description-wrapper > *:not(.tt-background){
  font-family: 'Roboto Slab', sans-serif;
}
@media (min-width: 1025px){
    .tt-product:not(.tt-view) .tt-image-box .tt-label-location [class^="tt-label-"]{
      padding-bottom: 2px;
    }
}

::-webkit-input-placeholder{font-family: 'Roboto', sans-serif; font-style: italic; font-weight: 600;}
::-moz-placeholder      {font-family: 'Roboto', sans-serif; font-style: italic; font-weight: 600;}
:-moz-placeholder       {font-family: 'Roboto', sans-serif; font-style: italic; font-weight: 600;}
:-ms-input-placeholder  {font-family: 'Roboto', sans-serif; font-style: italic; font-weight: 600;}

@media (max-width: 1024px) and (min-width: 790px){
  .slider-revolution .tp-caption1-wd-3{
        line-height: 1.5 !important;
  }
}


@media (min-width: 1230px){
  .slider-revolution .tp-caption1-wd-1{
        font-size: 40px;
  }
  .slider-revolution .tp-caption1-wd-2{
        font-size: 70px;
  }
  .slider-revolution .btn{
    font-weight: 500;
  }
}

.tt-product:not(.tt-view) .tt-description .tt-btn-addtocart:hover,
.tt-product-design02:not(.tt-view) .tt-description .tt-btn-addtocart:hover{
  background: #191919 !important;
}

.form-control,
.btn,
.tt-product:not(.tt-view) .tt-description .tt-btn-addtocart.thumbprod-button-bg,
.tt-input-counter.style-01 input,
.tt-options-swatch.options-large li a:not(.options-color),
.modal .modal-body:not(.no-background),
.tt-promo-fixed {
  border-radius: 0px !important;
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
}