.datepicker thead th.dow,
.mfp-bottom-bar,
.tt-top-panel .tt-row,
header .tt-logo .tt-title,
header .tt-cart .tt-cart-layout .tt-cart-content .tt-cart-list .tt-item .tt-item-descriptions .tt-title,
header .tt-cart .tt-cart-layout .tt-cart-content .tt-cart-total-row .tt-cart-total-title,
header .tt-search .tt-dropdown-menu .tt-search-input,
header .tt-search .tt-dropdown-menu form .tt-search-input,
.tt-desctop-menu .tt-badge,
.tt-desctop-menu nav > ul > li.dropdown > a,
.tt-desctop-menu .tt-title-submenu,
.tt-promo-02 .tt-description .tt-title-small,
.tt-promo-02 .tt-description .tt-title-large,
.tt-promo-02 .tt-description .tt-title-xlarge,
.panel-menu #mm0.mmpanel a:not(.mm-close),
.panel-menu .mmpanel:not(#mm0) a:not(.mm-original-link),
.panel-menu .mmpanel .tt-badge,
.panel-menu .mm-original-link,
footer .tt-logo .tt-title,
.tt-listing-post .tt-post .tt-post-content .tt-tag,
.tt-post-single .tt-tag,
.tt-blog-thumb .tt-title-description .tt-tag,
.tt-blog-thumb .tt-title-description .tt-title,
.tt-aside-post .item .tt-tag,
.tt-aside-post .item .tt-title,
.tt-pagination ul li a,
.tt-layout-01-post .tt-post .tt-post-content .tt-tag,
.tt-blog-masonry .tt-filter-nav .button,
.tt-portfolio-masonry .tt-filter-nav .button,
.tt-portfolio-content figure figcaption .tt-title,
.tt-product-single-info .tt-price,
.tt-input-counter.style-01 input,
.tt-collapse-block .tt-item .tt-collapse-title,
.tt-review-block .tt-review-form .tt-message-info,
.tt-review-block .tt-review-form .tt-rating-indicator .tt-title,
.tt-product-single-info .tt-label [class^="tt-label"],
.tt-title-options,
.tt-modal-addtocart.desctope .tt-modal-messages,
.tt-modal-addtocart.desctope .tt-modal-product .tt-title,
.tt-modal-addtocart.desctope .tt-modal-product .tt-qty,
.tt-modal-addtocart.desctope .tt-product-total,
.tt-modal-addtocart.desctope .tt-cart-total .tt-total,
.tt-modal-addtocart.mobile .tt-modal-messages,
.tt-modal-newsletter .tt-modal-newsletter-promo .tt-title-small,
.tt-modal-newsletter .tt-modal-newsletter-promo .tt-title-large,
.tt-modal-newsletter .tt-modal-newsletter-promo p,
.tt-filters-options .tt-btn-toggle a,
.tt-btn-col-close a,
.tt-aside .tt-item .tt-content .tt-title,
.tt-product.tt-view .tt-description .tt-title,
.tt-product-design02.tt-view .tt-description .tt-title,
.tt-product.tt-view .tt-description .tt-btn-addtocart,
.tt-product-design02.tt-view .tt-description .tt-btn-addtocart,
.tt-product:not(.tt-view) .tt-description .tt-add-info,
.tt-product:not(.tt-view) .tt-description .tt-title,
.tt-product:not(.tt-view) .tt-description .tt-price,
.tt-product:not(.tt-view) .tt-description .tt-btn-addtocart,
.tt-product-design02:not(.tt-view) .tt-description .tt-title,
.tt-product-design02:not(.tt-view) .tt-btn-addtocart,
.tt-product:not(.tt-view) .tt-description .tt-title,
  .tt-product-design02:not(.tt-view) .tt-description .tt-title,
  .tt-product:not(.tt-view) .tt-description .tt-btn-addtocart,
  .tt-product-design02:not(.tt-view) .tt-description .tt-btn-addtocart,
  .tt-promo-box .tt-description .tt-title-small,
  .tt-promo-box .tt-description .tt-title-large,
  .tt-promo-fullwidth .tt-description .tt-title-small,
  .tt-promo-fullwidth .tt-description .tt-title-large,
  .tt-promo-fullwidth .tt-description p,
  .tt-promo-fullwidth-02 .tt-description .tt-title-large,
  .tt-collection-item .tt-description .tt-title,
  .tt-promo02 .tt-description .tt-title-small,
  .tt-promo02 .tt-description .tt-title-large,
  .tt-promo-fixed .tt-description .tt-title,
  .tt-shopcart-table .tt-title,
  .tt-shopcart-table01,
  .tt-shopcart-table-02 .tt-title,
  .tt-shopping-layout .tt-link-back,
  .tt-table-shop-01 thead th,
  .tt-table-shop-02 thead th,
  .tt-table-shop-02 tbody td:first-child,
  .tt-table-shop-03 strong,
  .tt-table-shop-03 thead tr th,
  .tt-shop-info .tt-item .tt-title,
  .tt-hotspot-content .tt-description .tt-title,
  .slider-revolution .tp-caption1-wd-1,
  .slider-revolution .tp-caption1-wd-2,
  .slider-revolution .tp-caption1-wd-3,
  .slider-revolution .tp-caption2-wd-1,
  .slider-revolution .tp-caption2-wd-2,
  .tt-slick-main-item .tt-description .tt-title-small,
  .tt-slick-main-item .tt-description .tt-title-large,
  #tt-boxedbutton .rtlbutton,
  #tt-boxedbutton .rtlbutton-color .box-description .box-title,
  .tt-wishlist-box .tt-wishlist-list .tt-item .tt-col-description .tt-description .tt-title,
  .tt-wishlist-box .tt-wishlist-list .tt-item .tt-col-description .tt-description .tt-price,
  .tt-wishlist-box .tt-wishlist-list .tt-item .tt-col-btn .tt-btn-addtocart,
  .tt-compare-table .tt-item .tt-image-box .tt-title,
  .tt-compare-table .tt-item .tt-image-box .tt-price,
  .tt-compare-table .tt-item .tt-btn-addtocart,
  body,
  .btn,
  .btn-link,
.btn-link:focus,
.btn-underline,
h1, h2, h3, h4, h5, h6,
.tt-blockquote .tt-title,
.tt-blockquote-02 .tt-title,
.tt-table-01 thead tr th,
.tt-table-02 tbody tr td:first-child,
.tt-block-title .tt-description,
.form-default .form-group label:not(.error),
.form-default .form-control,
.tt-slick-quantity,
.tt-gift-layout .tt-gift-box .tt-description .tt-sum,
.tt-back-to-top,
.tt-layout-vertical .tt-title,
.tt-tabs-default li > a,
.tt-content-info .tt-subscription .tt-text-large{
	font-family: 'Helvetica', sans-serif;
}

.form-control,
.btn,
.tt-product:not(.tt-view) .tt-description .tt-btn-addtocart.thumbprod-button-bg,
.tt-input-counter.style-01 input,
.tt-options-swatch.options-large li a:not(.options-color),
.modal .modal-body:not(.no-background),
.tt-promo-fixed,
.tt-blog-thumb .tt-title-description .tt-background,
.tt-back-to-top {
  border-radius: 0px !important;
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
}

.tt-logo img {
  max-height: 48px !important;
}

header .tt-color-scheme-01{
  background:#dfe0d8;
  color: #3d441f;
}
header .tt-color-scheme-01 .tt-box-info ul li a{
  color: #707050;
}

header .tt-color-scheme-01 .tt-box-info ul li [class^="icon-"]{
  color: #b27022;
}

header .tt-color-scheme-01 .tt-social-icon li a{
  color: #707050;
}

header .tt-color-scheme-01 .tt-social-icon li a:hover{
  color: #b27022;
}

header .tt-dropdown-obj .tt-dropdown-toggle {
  color: #b27022;
}

header .tt-desktop-header .tt-color-scheme-01 {
  background: #606640;
}

header .tt-color-scheme-01 .tt-desctop-menu.tt-hover-02 nav>ul li.dropdown.selected>a,
header .tt-color-scheme-01 .tt-desctop-menu.tt-hover-02 nav > ul li.dropdown > a:hover {
    color: #606640;
    background: #ffdd20 !important;
}

.tt-desctop-menu.tt-hover-02 nav > ul li.dropdown > a {
  font-weight: 900;
}

.tt-mobile-header .tt-logo-container {
  height: 75px;
}

.slider-revolution .tp-caption1-wd-2 {
  font-weight: 900;
}

@media (min-width: 1230px){
  .slider-revolution .tp-caption1-wd-1{
    font-size: 36px !important;
    line-height: 1.1 !important;
  }
  .slider-revolution .tp-caption1-wd-2{
    font-size: 70px !important;
    line-height: 70px !important;
  }
  .slider-revolution .tp-caption1-wd-3{
    font-size: 16px !important;
    line-height: 1.1 !important;
    margin-top: 18px;
  }
  .slider-revolution .tp-caption1-wd-4{
    margin-top: 37px;
  }
}

@media (min-width: 1025px) and (max-width: 1229px){
  .slider-revolution .tp-caption1-wd-1{
    font-size: 36px !important;
    line-height: 1.1 !important;
  }
  .slider-revolution .tp-caption1-wd-2{
    font-size: 70px !important;
    line-height: 70px !important;
  }
  .slider-revolution .tp-caption1-wd-3{
    font-size: 16px !important;
    line-height: 1.1 !important;
    margin-top: 18px;
  }
  .slider-revolution .tp-caption1-wd-4{
    margin-top: 37px;
  }
}

@media (min-width: 790px) and (max-width: 1024px){
  .slider-revolution .tp-caption1-wd-1{
    font-size: 30px !important;
    line-height: 1.1 !important;
  }
  .slider-revolution .tp-caption1-wd-2{
    font-size: 50px !important;
    line-height: 1.1 !important;
    margin-top: 10px;
  }
  .slider-revolution .tp-caption1-wd-3{
    font-size: 15px !important;
    line-height: 1.2 !important;
    margin-top: 10px;
  }
  .slider-revolution .tp-caption1-wd-4{
    margin-top: 27px;
  }
}

@media (min-width: 576px) and (max-width: 789px){
  .slider-revolution .tp-caption1-wd-1{
    font-size: 25px !important;
    line-height: 1.1 !important;
  }
  .slider-revolution .tp-caption1-wd-2{
    font-size: 35px !important;
    line-height: 1.1 !important;
    margin-top: 10px;
  }
  .slider-revolution .tp-caption1-wd-3{
    font-size: 14px !important;
    line-height: 1.3 !important;
    margin-top: 10px;
    max-width: 250px;
  }
  .slider-revolution .tp-caption1-wd-4{
    margin-top: 17px;
  }
}

@media (min-width: 461px) and (max-width: 575px){
  .slider-revolution .tp-caption1-wd-1{
    font-size: 15px !important;
    line-height: 1.1 !important;
  }
  .slider-revolution .tp-caption1-wd-2{
    font-size: 25px !important;
    line-height: 1.1 !important;
    margin-top: 5px;
  }
  .slider-revolution .tp-caption1-wd-3{
    font-size: 14px !important;
    line-height: 1.3 !important;
    max-width: 250px;
    margin-top: 7px;
  }
  .slider-revolution .tp-caption1-wd-4{
    margin-top: 12px;
  }
}

@media (max-width: 460px){
  .slider-revolution .tp-caption1-wd-1{
    font-size: 15px !important;
    line-height: 1.1 !important;
  }
  .slider-revolution .tp-caption1-wd-2{
    font-size: 19px !important;
    line-height: 1.1 !important;
    margin-top: 5px;
  }
  .slider-revolution .tp-caption1-wd-3{
    font-size: 12px !important;
    line-height: 1.3 !important;
    max-width: 184px;
    margin-top: 7px;
  }
  .slider-revolution .tp-caption1-wd-4{
    margin-top: 10px;
  }
  .slider-revolution [class^="btn"]{
    height: 34px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (min-width: 790px) {
  footer .tt-color-scheme-02 {
    background: #5e663a !important;
    color: #ffdd20;
  }

  footer .tt-footer-default .tt-newsletter .tt-collapse-title {
    color: #ffdd20;
    font-weight: 900;
    letter-spacing: 0.03em;
  }

  footer .tt-color-scheme-02 .tt-newsletter .btn {
    background: #b27022;
  }

  footer .tt-color-scheme-01 {
    background: #dfe0d8;
    color: #707050;
  }

  footer .tt-color-scheme-01 .tt-collapse-title {
    font-weight: 900;
  }
}

.tt-block-title .tt-title,
.tt-desctop-menu .tt-title-submenu a,
.tt-filters-options .tt-title,
h1, h2, h3, h4, h5, h6,
.mfilter-heading-content,
.mfilter-heading-text > span,
.tt-collapse .tt-collapse-title,
.tt-product-single-info .tt-title,
.tt-block-title .tt-title-small,
h5:not([class^="tt-title"]):not([class^="tt-collapse"]):not([class^="tt-aside"]),
.tt-tabs-default li > a,
.tt-title-large {
  font-weight: 900 !important;
}